.Avatarimg{
    height: 35%;
    width: 35%;
    border-radius: 50%;
    border: 3px solid var(--custom-dark-border);
}
.MenuHeader{
    align-items: center;
}
.AvatarName{
    color: var(--ion-color-secondary);
}

